<div class="Box-Left-Menu">
<ul class="left-menu">
	<li><a href="#" class=""><span class="left-menu-compare" id="left-menu-compare">&nbsp;</span>Compare cars</a></li>
	<li><a href="#" class=""><span class="left-menu-featured" id="left-menu-featured">&nbsp;</span>Featured cars</a></li>
	<li><a href="#" class=""><span class="left-menu-recently" id="left-menu-recently">&nbsp;</span>Recently sold</a></li>
	<li><a href="#" class=""><span class="left-menu-servicing" id="left-menu-servicing">&nbsp;</span>Servicing</a></li>
	<li><a href="#" class=""><span class="left-menu-warranty" id="left-menu-warranty">&nbsp;</span>Warranty Info</a></li>
</ul>
</div>
<div class="Box-Left-Content">
  <div class="Box-Left-Header">
    About
  </div>
  <div class="Box-Left-Text">
  	<p>We help you find the car of your dreams !</p><br />
<p>We are proud to represent more than 30 of the world&rsquo;s leading car manufacturers, offering our customers the widest choice of new and used cars. We are one of the largest online car dealers, offering credible and easy-to-understand information from consumers and experts to help buyers and sellers.</p><br />
<p>With comprehensive pricing information, photo galleries, videos and a large selection of new- and used-car inventory, compare car-feature we put car buyers in control of their shopping process with the information they need to make confident buying decisions.Covering all the major automotive franchises, we cater to every requirement, whether our customers are looking for a first car or a commercial vehicle. We provide not only new cars but also after sales care including servicing and MOT testing.  We try to make searching for a car as easy as possible. Use our powerful search engine to sort through our listings and track down the vehicle you want. Get photos and full pages of information on each car.</p><br />
<p>All designed to make it easier for you to find the car of your dreams, or the car in your price range.  You can schedule test drive, request more information or use loan calculator to calculate price and interest.   The success of our company has always relied on the satisfaction of our customers and this continues to be the driving force behind our business today. Our friendly and helpful advisers are dedicated to providing excellent customer service. It is our aim to build strong relationships with our clients and satisfy your needs.</p>
  </div>
</div>
<div class="clearBox">
</div>